.section1 {
  background-image: url("../../../assets/backgrounds/landing/1.png");
  height: 100vh;
}

header {
  display: flex;
  justify-content: space-between;
  padding: 50px 80px;
  align-items: center;
}

header button {
  background-color: white;
  border: 0;
  width: 100px;
  height: 37px;
  border-radius: 7px;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3);
  font-size: 15px;
}

main {
  padding: 0px 80px;
  display: flex;
  justify-content: center;
  align-items: center;
}

main .left {
  width: 50%;
}

main .left h1 {
  font-size: 60px;
  margin-bottom: 15px;
}

main .left p {
  font-size: 15px;
  font-family: "Poppins", sans-serif;
}

main .left button {
  background-color: white;
  width: 150px;
  height: 50px;
  font-size: 17.5px;
  border: 0;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3);
  border-radius: 12.5px;
  margin-top: 35px;
}

main .right {
  width: 50%;
}

main .right img {
  width: 600px;
}
